<configuration>
	<shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5level] %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="uk.bot_by.monoratebot" level="TRACE"/>

	<root level="DEBUG">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>